.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  display: flex;
  background-color: #282c34;
  height: 4vh;
  align-items: center;
  justify-content: space-between;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}
.App-header a {
  color: white;
  padding: 1vmin;
  margin: auto, 2vmin;
}
.App-header p {
  padding: 1vmin;
  margin: auto, 2vmin;
}

.Home {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.videoListWithSeach {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoList {
  width: 80%;
  display: flex;
  align-content: space-around;
  align-items: space-around;
  flex-flow: row wrap;
  justify-content: space-around;
}

.VideoCard {
  width: 248px;
  height: 312px;
  margin-bottom: 1vh;
  border: 0.1em solid black;
  word-wrap: break-word;
  overflow: hidden;
}

.VideoCard img {
  width: 100%;
}

.cardContent {
  margin: 0.5vw;
}
.cardContent p,
.cardContent h5 {
  margin: 0 0 0.3vh 0;
}

.search {
  margin: 3vh 2vh;
}

.Video {
  margin: 3vh;
  width: 420px;
}

.VideoContent {
  margin: 1vh;
}

.VideoContent p {
  text-align: left;
  word-wrap: break-word;
  margin: 0 0 1vh 0;
}

button {
  color: darkred;
  border: 1px outset black;
  padding: 0.5vh 2.5vh;
  margin: 0.5vh;
}
input {
  border: 1px outset black;
  padding: 0.5vh 2.5vh;
  margin: 0.5vh;
}
.Pagination {
  margin-bottom: 400px;
}
