.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: #282c34;
  height: 4vh;
  align-items: center;
  justify-content: space-between;
  font-size: 2vmin;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}
.App-header a {
  color: white;
  padding: 1vmin;
  margin: auto, 2vmin;
}
.App-header p {
  padding: 1vmin;
  margin: auto, 2vmin;
}
